:host {
  display: flex;
  border: solid black 1px;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 200px;
  border: solid 1px black;
  justify-content: space-evenly;
  align-items: center;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

button {
  width: 400px;
}

input {
  width: 300px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid gray; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  justify-self: center;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
