:host {
  display: flex;
  border: solid black 1px;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  border: solid 1px black;
  justify-content: space-evenly;
  align-items: center;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

button {
  width: 500px;
}

input {
  width: 300px;
}
