<h1>Create a new Password</h1>

<form
  *ngIf="!emailIsValid"
  class="form"
  [formGroup]="checkEmailForm"
  (ngSubmit)="emailValid()"
>
  <div class="input-field">
    <label>Enter Your Email: </label>
    <input type="text" formControlName="email" />
  </div>

  <button type="submit">Change Password</button>

  <a routerLink="">Back To Log In</a>
</form>

<form *ngIf="emailIsValid" class="form" [formGroup]="changePasswordForm">
  <div class="input-field">
    <label>Enter New Password: </label>
    <input type="password" formControlName="password" />
  </div>

  <div class="input-field">
    <label>Confirm New Password: </label>
    <input type="password" formControlName="confirmPassword" />
  </div>
 
  <button type="submit">Change Password</button>

  <a routerLink="">Back To Log In</a>
</form>
